name: Deploy FastAPI Backend (AiConstruction)

on:
  push:
    branches: 
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Zip backend folder
        run: |
          cd ..
          zip -r backend.zip backend

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-package
          path: backend.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: backend-package

      - name: Unzip artifact
        run: unzip backend.zip

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F2B4E34B36464EC89A5CB7BFC369E33C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_6CF628C51CDC437988CBF0D67E684EC5 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_67D3F163AA98458BAF8D18B71B37AD46 }}

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'AiConstruction'
          slot-name: 'Production'
          package: './backend'
